<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Admin</title>
    <base href="/">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/dash-style.css"  />



</head>
<body>
  <div class="main-container d-flex">
    <div class="sidebar" id="side_nav">
      <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
        <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">DB</span>
            <span class="text-white">DashBoard</span>
        </h1>
          <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="far fa-stream"></i></button>
      </div>

        <ul class="list-unstyled px-2">
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-home"></i> Tablero</a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-users"></i> Clientes</a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-user-group"></i> Entrenadores</a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-list"></i> Planes</a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-duotone fa-dumbbell"></i> Rutinas</a></li>
        </ul>
        <hr class="h-color mx-3">

        <ul class="list-unstyled px-2">
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-home"></i> Configuracion</a></li>
        </ul>

    </div>
      <div class="content">
          <div class="dashboard-content px-3 pt-4">
              <h2 class="fs-5"> DASHBOARD</h2>
              <p>hola mundo</p>
          </div>
      </div>
  </div>

  <script>
      $(".sidebar ul li").on('click',function (){
          $(".sidebar ul li.active").removeClass('active');
          $(this).addClass('active');
      });

      $('.open-btn').on('click', function (){
          $('.sidebar').addClass('active');
      });

      $('.close-btn').on('click', function (){
          $('.sidebar').removeClass('active');
      });
  </script>



</body>
</html>